* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  background: #fff;
  cursor: default;
  -webkit-user-select: none;
}
body {
  width: 20em;
  margin: 1em auto;
}
table {
  margin: 1em auto 0 auto;
  border-spacing: 0;
  border-bottom: 0.0625em solid #000;
  border-right: 0.0625em solid #000;
}
td {
  text-align: center;
  width: 4em;
  height: 4em;
  line-height: 4em;
  border-left: 0.0625em solid #000;
  border-top: 0.0625em solid #000;
}
ul {
  margin-top: 2em;
  text-align: center;
}
li {
  position: relative;
  display: inline-block;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.0625em solid #000;
}
